.container {
    margin: 0,auto;
    margin-top: 120px;
}

.container table {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1px solid #ddd;
}


.container thead {
    background-color: #4caf50;
    color: #fff;
}


.container th, thead {
    text-align: center;
}

.container th {
    font-size: 14px;
    font-weight: 700;
    padding: 12px 15px;
}

.container tbody tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.container tbody tr:nth-child(odd) {
    background-color: #fff;
}

.container td {
    font-size: 13px;
    padding: 12px 15px;
    text-align: center;
}

.container tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.container table, td, th {
    border: 1px solid #ddd;
}

.container td, th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.container td:first-child, th:first-child {
    border-left: none;
}

.container tr:first-child th {
    border-top: none;
}

.container td, th {
    vertical-align: middle;
}

@media (max-width: 768px) {
    td, th {
        font-size: 12px;
        padding: 10px;
    }
}